<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Define the Dependency -->
	<bean id="myFortune" 
			class="com.arifrajib.springcorexml.HappyFortuneService">
	</bean>
	
	<!-- Define the Bean with Dependency Injection -->
	<bean id="baseballCouch"
			class="com.arifrajib.springcorexml.BaseballCoach"
			init-method="sayWelcomeStartup"
			destroy-method="sayByeMessage">
		<!-- Setup Constructure Inhection -->	
		<constructor-arg ref="myFortune" />
	</bean>

</beans>
